#ZONE    INTERFACE    BROADCAST    OPTIONS
{% for key, interface in elao_shorewall.interfaces.iteritems() -%}
    {{ key }}       {{ interface.name }}     {{ interface.broadcast }}      {{ interface.options }}    
{% endfor %}  
