#ZONE   TYPE            OPTIONS         IN                      OUT
#                                       OPTIONS                 OPTIONS
fw      firewall
{{ elao_shorewall_interfaces|first }}      ipv4