#ZONE   TYPE            OPTIONS         IN                      OUT
#                                       OPTIONS                 OPTIONS
fw      firewall
{% for key, value in elao_shorewall_interfaces.iteritems() -%}
    {{ key }}       {{ value.type }}
{% endfor %}